<li class="span3">
	<div class="thumbnail"><!--START THUMBNAIL-->
		<a href="/profile/modal_window.html?c=<%= content.id %>" data-toggle="modal">
	   		<%if content.content_type=="Image"%>
	   		<div class="thumbimg">
	   			<%if content.link =="" %><!--if content is uploaded-->
				<%= image_tag content.avatar.url%>
				<%else%><!--content is a link-->
				<%= image_tag content.link %>
				<%end%>
			</div>	
			<%elsif content.content_type=="Video"%>
			<div class="thumbimg">
				<%= raw(youtube_img("#{content.link}"))%>
			</div>				
			<%elsif content.content_type=="Article"%>
			<div class="thumbnail-article">
				<%= content.quote%>
			</div>				
			<%end%>
		</a>		
					
				
		<!-- truncate title-->
		<h4><%= truncate(content.title,:length =>25, :omission => "...") %>
		<!--PRIVACY-->
			<%if content.privacy==true%><!--if public-->
			<span class="label label-info pull-right">Public</span><br>
			<%else%><!--if private-->
			<span class="label label-warning pull-right">Private</span><br>
			<%end%>
		</h4>
	
		<!--TAGS-->
		<div class="well-overflow">
		<% content.tags.each do |tag| %>
		<%= link_to "#{tag.name}",{:action => 'tagged',:tag=>tag.name}%>
		<% end %>
		</div>
  </div><!--end thumbnail-->
</li>					
