<li class="span3">
	<div class="thumbnail thumbnail-explore"><!--START THUMBNAIL-->
       	<a href="/explore/modal_window.html?c=<%= content.id %>" data-toggle="modal">
       		<%if content.content_type=="Image"%>
       		<div class="thumbimg">
       			<%if content.link =="" %><!--if content is uploaded-->
				<%= image_tag content.avatar.url%>
				<%else%><!--content is a link-->
				<%= image_tag content.link %>
				<%end%>
			</div>	
			<%elsif content.content_type=="Video"%>
			<div class="thumbimg">
				<%= raw(youtube_img("#{content.link}"))%>
			</div>				
			<%elsif content.content_type=="Article"%>
			<div class="thumbnail-article">
				<%= content.quote%>
			</div>				
			<%end%>
		</a>		

		<!-- truncated title-->
		<h4><%= truncate(content.title,:length =>28, :omission => "...") %></h4>
		
		<p><!--Name-->		
		<%if content.name==false %>
				<% if content.user_id==session[:user_id]%>
					<%= link_to("#{content.file_type}",{:controller => 'profile',:action => 'show'})%> |
				<%else%>
				<%= link_to("#{content.file_type}",{:controller => 'profile',:action => 'usersprofile', :id => content.user_id})%> |
				<%end%>
			<%else%>
				<span class="label label-info"><%= content.file_type %></span> |
			<%end%>
		<!--DESCRIPTION-->	
			<%= truncate(content.description, :length => 100, :omission => "...") %></p>
		<!--footer-->	
		<div class="thumbnail-footer">
			<div class="btn-group">
				
				<%= link_to '<div class="btn btn-info"><i class="icon-plus"></i>add</div>'.html_safe, {:action => 'add', :id => content.id}%>
				<a class="btn btn-info" id="popover<%=content.id%>" data-toggle="popover" data-placement="top"><i class="icon-share"></i>&nbsp;share</a>
				<div class="btn btn-info"><i class="icon-arrow-up"></i><%=content.flaggings.size%>&nbsp;&nbsp;<!--Show upvotes if public-->
				<%= toggle_upvote_button(content,@user) %></div>
			</div>
		</div>

		<!--Popover share content ONLY SHOWS AFTER CLICKING SHARE BUTTON-->
		<div id="popover_content<%=content.id%>" style="display: none">
			<!--Facebook-->
		        <a href="#" 
		          onclick="
		            window.open(
		              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%="http://onedooropen.com/discover/c/#{content.id}"%>'), 
		              'facebook-share-dialog', 
		              'width=626,height=436'); 
		            return false;">
		        <%= image_tag("facebook.jpg", :alt => "rss feed") %>
		        </a>  
			<!--Twitter-->
		        <a href="#" onclick="fbs_click();" >
		        <%= image_tag("twitter.jpg", :alt => "rss feed") %>
		        </a>            
		</div>
	
							
	  </div><!--end thumbnail-->
</li>	

